body{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap : 50px;
}

form{
visibility: hidden;
}

#add_book{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    box-sizing: border-box;
    background-color: gray;
}

table{
    width: 330px;
}

table,th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

td{
    text-align: center;
}